@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);

* {
  box-sizing: border-box;
}

html,body {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 0;
  background-color: #15b8e6;
  font-family: 'Roboto', sans-serif;
}

.shopping-cart {
  width: 750px;
  height: 450px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.item {
  padding: 20px 30px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid#E1E8EE;
}

/* Product Image */
.image img {
  margin-right: 50px;
  width: 65px;
  height: 70px;
}

/* Product Description */
.description {
  padding-top: 10px;
  margin-right: 60px;
  width: 175px;
}

/* Responsive */
@media (max-width: 800px) {
  .shopping-cart {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 50%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
  }
}

/* buttons */
.item button{
  padding: 8px;
  cursor: pointer;
}
.item i {
  padding: 15px;
  cursor: pointer;
}


.red-heart {
  color: red;
}

